{{# each products}}
<div class="row">
  {{# each this}}
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="img-responsive mx-auto" style="height:220px; width:150px;" src="{{ this.imagePath }}" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h4 class="card-title text-center">{{ this.title }}</h4>
        <h5 class="float-left">{{ this.price }}</h5> <a href="#" class="btn btn-primary float-right">Buy Now</a>
      </div>
    </div>
  </div>
  {{/each}}
  <br>
</div>
{{/each}}