<div class="row">
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="img-responsive mx-auto" style="height:220px; width:150px;" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/71/FIFA_19_cover.jpg/220px-FIFA_19_cover.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title text-center">FIFA 19</h4>
    <h5 class="float-left">Rs. 1500</h5> <a href="#" class="btn btn-primary float-right">Buy Now</a>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="img-responsive mx-auto" style="height:220px; width:150px;" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/71/FIFA_19_cover.jpg/220px-FIFA_19_cover.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title text-center">FIFA 19</h4>
    <h5 class="float-left">Rs. 1500</h5> <a href="#" class="btn btn-primary float-right">Buy Now</a>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="img-responsive mx-auto" style="height:220px; width:150px;" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/71/FIFA_19_cover.jpg/220px-FIFA_19_cover.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title text-center">FIFA 19</h4>
    <h5 class="float-left">Rs. 1500</h5> <a href="#" class="btn btn-primary float-right">Buy Now</a>
  </div>
</div>
</div>
</div>
<br>
<div class="row">
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="img-responsive mx-auto" style="height:220px; width:150px;" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/71/FIFA_19_cover.jpg/220px-FIFA_19_cover.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title text-center">FIFA 19</h4>
    <h5 class="float-left">Rs. 1500</h5> <a href="#" class="btn btn-primary float-right">Buy Now</a>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="img-responsive mx-auto" style="height:220px; width:150px;" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/71/FIFA_19_cover.jpg/220px-FIFA_19_cover.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title text-center">FIFA 19</h4>
    <h5 class="float-left">Rs. 1500</h5> <a href="#" class="btn btn-primary float-right">Buy Now</a>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="img-responsive mx-auto" style="height:220px; width:150px;" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/71/FIFA_19_cover.jpg/220px-FIFA_19_cover.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title text-center">FIFA 19</h4>
    <h5 class="float-left">Rs. 1500</h5> <a href="#" class="btn btn-primary float-right">Buy Now</a>
  </div>
</div>
</div>
</div>
